
`ifdef nil 

`timescale 1ns / 1ns

module test;




sim_8_Bit_CSL_Adder top(); 
 

`ifdef systemVerilog

 //please enter any additional verilog stimulus in the /home/home5/msudhanan/ese555workingdir/sim_8_Bit_CSL_Adder_svrun1/testfixture.sv file
`include "/home/home5/msudhanan/ese555workingdir/sim_8_Bit_CSL_Adder_svrun1/testfixture.sv"

`endif

endmodule 

`endif 
